
body{
  --bgyellow: #fecb10;
	box-sizing: border-box;
}
.centertxt{
	text-align: center;
	padding: 7px;
}
.data{
	background-color: var(--bgyellow);
}
.data div,.foottxt  {
	display: inline-block;
	padding: 3px 10px;
	
}
.data i{
	padding: 3px 10px;
	font-size: 22px
}
.txtyy{
	color: var(--bgyellow);
	font-size: 29px;
}
.txt{
	color: white;
	font-size: 12px;
	margin-left: 50px;
}
.btn{
	background-color: var(--bgyellow);
}

.carousel-caption{
    margin-bottom: 263px;
}
.content{
	padding: 2%;
}
.shadowimg{
	/*box-shadow: 10px 10px 10px yellow , -10px -10px 10px yellow ;*/
	width: 80px;
	height: 80px;
	display: block;
	margin: 3%;
	margin: auto;
}
.message{
	width:90%;
	
}
.footer{
	/*background-image: url("../images/footer.png");
	filter: brightness(70%);*/
	background-color: black;
	padding: 5%;
	color: white;
}
.footer p{
	width: 70%;
    padding: 2%;
	display: inline-block;
}
.footer h6{
	border: 1px solid white ; 
	border-radius: 50%;
	height:70px;
	width: 64px ;
	display: inline-block;
}